@media only screen and (max-width: 576px) {

    #work h1{
       top: 16vh !important;
    }
    #projects{
        top: 12vh !important;
    }

    .project-div{
        grid-template-columns: 1fr !important;
    }

.project{
    align-items: center!important;
    width: 25rem !important;
    height: 35rem !important;
}
.project-discription{
    width: 20rem !important;
    height: 20rem !important;
}


.project-discription img {
    
    height: 16rem !important;
    
  }
  .icon {

    top: 58rem !important;
    right: -30rem !important;
  }


  .icon a {
  
    width: 2.5rem !important;
    height: 2.5rem !important;
   
  }

  .project-links {
    width: 84% !important;
  }

  #about-div button {
    
    align-items: center !important;
    width: 19% !important;
    height: 10vh !important;  ;
    font-size: 2.56rem !important;
   
  }
  #tech h1 {

    font-size: 4.87rem !important;
    
  }
  #resume h1 {

    font-size: 4.87rem !important;
    
  }
  #git-hub h1 {

    font-size: 4.87rem !important;
    
  }
  #skill h1 {

    font-size: 4.87rem !important;
    
  }

  #E1 {
   
    font-size: 2.56rem !important;
   
  }



  #E3 {
   
    font-size: 2.4rem !important;
   
  }




  #E2 {
    font-size: 6.4rem !important;
  }



  #E4 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center !important;
    gap: 1rem;
    margin-top: 5rem!important;
  }

  #main-logo span:nth-child(6) {
    
    font-size: 1.5rem !important;
    width: 12rem !important;
    white-space: nowrap !important;
  }


  #main-logo {
    font-size: 2.56rem !important;
    letter-spacing: 0.6ch;
  }




























}







/* ---------------------------------------------------------------------------- */

@media only screen and (max-width: 1024px) {
    

html{
    font-size: 10px;
}


#rightUp{
    display: none;
}
#leftUp{
    display: none;
}

#right{
    display: none !important;
    
}
#left{
    display: none !important;
}
header{
  height: 8rem !important;
  
  display: block;
}

#contact{
    display: none; 
}

.details{
    display: none !important;
}

#menu-btn{
    height: 3rem;
    width: 3rem;
    background: transparent;
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: m-b-i 2s ease-in-out forwards;
}
@keyframes m-b-i {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

body main{
    display: none;
}

#nav-menu-page {
    width: 0;
    height: 0;
    overflow: hidden;
    background: #CD1818;;
    z-index: 99999;
    position: fixed ;
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    font-size: 2rem;
    letter-spacing: 0.4ch;
    color: white;
    align-items: center;
}
#nav-menu-page a{
    color: white !important;
}

.move-menu-forward{
    animation: move-menu-forward 1.5s ease-in-out forwards;
}
.move-menu-backward
{
    animation: move-menu-backward 1s ease-in-out forwards;
}

@keyframes move-menu-forward {
    0%{
        width: 0;
        height: 0;
        border-bottom-right-radius: 100%;
        
    }
    50%{
        width: 100%;
        height: 100vh;
    }
    100%{
        width: 100%;
        height: 100vh;
        border-bottom-right-radius: 0;
    }
}
@keyframes move-menu-backward {
    100%{
        width: 0;
        height: 0;
        border-bottom-right-radius: 100%;
        
    }
    50%{
        width: 100%;
        height: 100vh;
        
    }
    0%{
        width: 100%;
        height: 100vh;
        border-bottom-right-radius: 0;
        
    }
}







/* --------------------------- */




*{
    padding: 0;
    margin: 0;
    background: transparent;
    font-family: 'Ubuntu Mono', monospace;
    /* font-family: "Cutive Mono", monospace; */
    /* font-family: 'VT323', monospace; */
      /* letter-spacing: 0.1ch; */
   text-decoration: none;
 }
body{
    width: 100%;
    height: 100vh;
    background: #116D6E;

}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 5rem ;
    padding-right: 5rem ;
    /* background: rgb(29, 236, 94); */
}
#main-logo{
    color: white;
    font-size: 1.56rem;
    letter-spacing: 0.6ch;
    top: 2rem;
    width: fit-content;
    height: fit-content;
    left: 5.5rem;
}

#main-logo span:nth-child(2),span:nth-child(4),span:nth-child(5){
    animation: m-b-i 5s ease-in-out forwards;
    
}


#main-logo span:nth-child(6){
    animation: m-b-i 5s ease-in-out forwards;
    width: 11rem;
    font-size: 0.99rem;
    display: inline-block;
    letter-spacing: 0.3ch; 
    position: fixed;
    
}





.details{
opacity: 0.8;
display: flex;
justify-content: space-around;
font-size: 1.25rem;
width: 30rem;
font-family: 'VT323', monospace;
position: fixed;
left: 25rem;
color: white;
}
.details a{
    letter-spacing: 0.5ch;
    color: white; 
}

#contact{
color: white;
position: fixed;
right: 20rem;
font-size: 1.25rem;
animation: move-contact 3s forwards ease-out;

}
@keyframes move-contact{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    89%{
        opacity: 0.5;
        right: 15rem;
    }
    
    100%{
        opacity: 1;
        right: 6rem;
    }
}


main{
    
    /* opacity: 0; */
    width: 100%;
    height: 100vh;
    /* background: yellow; */
}








header {
    z-index: 5;
    width: 100%;
    height: 6rem;
    background: #CD1818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.content{
    display: none;
}




/* ---------------------------------------------------home page---------------------------------------- */
#home {
  display: block;
  width: 100%;
  height: 100vh;
}



#a{
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background: red; */
     width: 100%;  
    height: 100vh;
    color: white;
    letter-spacing: 0.3ch;
    flex-wrap: wrap;
}
#A {
    flex-wrap: wrap;
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation: move 3s ease-in-out forwards; */
}

.move-animation{
    animation: move 2.5s ease-in-out forwards;
}
@keyframes move{
0%{
    top: 9.37rem;
    opacity: 0px;
}
70%{
    top: 80px;
    opacity: 1;
}
80%{
    top: 5rem;
    opacity: 1;
}
100%{
   top: 0.625rem;
   opacity: 1;
}

}




#a div div:nth-child(1){
    font-size: 30px;
    letter-spacing: 0.2ch;
    color: #CD1818;
    text-align: center;
}
#a div div:nth-child(2){
    text-align: center;
    font-size: 5rem;
}
#a div div:nth-child(3){
    letter-spacing: 0.2ch;
    text-align: center;
    font-size: 1.85rem;
    display: flex;
    color: #CD1818;
}


#A2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation: reveal 10s forwards in;
    width: 0%;
    overflow: hidden;
    text-align: center;
   

}
.text-reveal-A2{
    animation: reveal 1.8s forwards ease-out;
}
@keyframes reveal {
    0%{
        width:0%;
    }
    40%{
        width:0%;
    }

    85%{
        width:15%;
    }
    90%{
        width:15%;
    }
   
    100%{
        width: 100%;
    }

}
















#A3-h{
    width: 0ch;
    letter-spacing: 0.2ch;
    font-size: 1.85rem;
    overflow: hidden;
    white-space: nowrap;
}

.typewriter-A3{
    animation: typewriter 10s steps(35) infinite;
    
}
@keyframes typewriter{
    0%{
       
       width: 0ch;
    }
   
    80%{
         width: 40ch;
    }
   100% {
          width: 0ch;
    }
 
    
}
















#b{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(41, 207, 124); */
    width: 100%;  
    height: 100vh;
    z-index: 1;
    color: white;
    font-size: 6.25rem;
}
#c{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#d{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#e{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#E{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12rem;
    flex-wrap: wrap;
}



#E1{
    height: fit-content;
    width: fit-content;
    font-size: 1.56rem;
    letter-spacing: 0.3ch;
    position: relative;
}
.E1-move{
    animation: e1-move 1s ease-in-out forwards;
}
@keyframes e1-move {
    0%{
        opacity: 0;
      top: 3rem; 
    }
    100%{
        opacity: 1;
        top: 2rem;   
    }
}

#E2{
    letter-spacing: 0.3ch;
    height: fit-content;
    width: fit-content;
    font-size: 3.4rem;
    
    margin: 3rem 0rem 1rem 0rem ;
   
   overflow: hidden;
   display: flex;
   flex-wrap: wrap;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}
.E2-move{
    animation: e2-move 1.5s  forwards;
} 
@keyframes e2-move {
    0%{
        opacity: 0;
        left: -20rem;
    }
    100%{
        opacity: 1;
      left: 0rem;
    }
    
}


#E2 span{
    color: #CD1818;
    display: inline-flex;
    font-size: 3.43rem;
    overflow: hidden;
    display: none;
}

#typed-text{
    
    
    font-size: 3.43rem;
    
    overflow: hidden;
}


.type1 {
    
    display: inline-flex !important;
    animation: typing 5s steps(10) forwards ;
  }
  
  @keyframes typing{
    0%{
       width: 0ch;
    }

    40%{
         width: 12ch;
    }
    80%{
         width: 12ch;
    }
   100% {
          width: 0ch;
    }
    
}
 #cursor{
    color: #CD1818;
    display: inline-flex !important;
 }
.blink{
    animation: blink1 1s infinite;
}

 @keyframes blink1 {
   50%{
    color: transparent;
   }

 }
#E3{
    letter-spacing: 0.3ch;
    height: fit-content;
    width: 100%;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    margin: -1rem;
    padding: 0;
    position: relative
}


.E3-move{
    animation: e3-move 1s ease-in-out forwards;
}
@keyframes e3-move {
    0%{
        opacity: 0;
         top: 1rem;
    }
    100%{
        opacity: 1;
        top: 0rem;
    }
}





#E4{
    letter-spacing: 0.3ch;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

}
#E4 button{
    font-size: 1.2rem;
    outline: none;
    margin-top: 3.5rem;
    cursor: pointer;
    padding: 1rem;
    letter-spacing: 0.3ch;
    width: 15rem;
    position: relative;
}
#EB1{
    cursor: pointer;
    color: #0c9ea1;
    background-color:#CD1818;
    
    border: 0.06rem solid #CD1818;
}
.EB1-move{
    animation: eb1-move 3s forwards;
}
@keyframes eb1-move {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        left: 18rem;
    }
    100%{
        opacity: 1;
       left: 0rem;
    }
}

.EB2-move{
    animation: eb2-move 3s forwards;
}
@keyframes eb2-move {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
        right: 18rem;
    }
    100%{
        opacity: 1;
        right:0rem;
    }
}


#EB2{
    cursor: pointer;
    color: #CD1818;
    background-color: transparent;
    
    border: 0.06rem solid #CD1818;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(207, 168, 41); */
    width: 100%;  
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 2;
    transition: opacity 0.5;
}

footer a{
    font-size: 1px;
    color: #000;
}





.f-Show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.f-notShow {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}





.back{
    /* background: rgb(199, 24, 24); */
    position: fixed;
    z-index: 1;
   
}
.back div{
    font-size: 2.5rem;
    color: aliceblue;
    opacity: 0;
    /* background: black; */
    width: 15rem;
    height: 2rem;
}


#D1{
    position: fixed;
    top: 24.3rem;
    left: 16rem;
    color: white;
}
#D2{
    position: fixed;
    left: 26.8rem;
    bottom: 16.875rem;
    color: white;
}
#D3{
    position: fixed;
    right: 21.2rem;
    top: 24.37rem;
    color: white;
}
#D4{
    position: fixed;
    bottom: 6.25rem;
    right: 3.75rem;
    color: white;
}


.Show-2 {
    opacity: 0.3;
    display: block;
    transition: opacity 0.5s ease-in-out;
}
.back div.show {
   
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

.back div.notShow{
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


#background {
    
    /* opacity: 0;
    font-size: 300px; */
    width: 100%;
    height: 100vh;
    color: #000;
    z-index: -999;
    position: fixed;
}


#bg1{
    
    font-size: 12.5rem; 
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg2{
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
}

#bg2 span:nth-child(1){
   
    font-size: 16rem;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 4rem;
   left: 4rem;
}

#bg2 span:nth-child(2){

    font-size: 18.75rem;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: -1rem;
   right: -2rem;
}

#bg3{
    
    width: 100%;
    height: 100vh;
    font-size: 8.12rem;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 12rem;
    left: 6rem;
}

 


.Show {
    opacity: 0.09;
    display: block;
    transition: opacity 0.5s ease-in-out;
}
.notShow {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}



/* ----------------------------- work PAGE---------------- -----------------------------------------*/

#work {
   background: transparent;
   width: 100%;
   height: fit-content;
   /* display: flex; */
   flex-direction: column;
   align-items: center;
}

#work h1{
    font-size: 3.15rem;
    background: transparent ;
    color: #CD1818;
    z-index: 1;
    top: 45vh;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    letter-spacing: 0.4ch;
    animation: h-move 2s forwards ease-in;
    position: relative;
}


@keyframes h-move {
    0%{
        opacity: 0;
    
    }
    100%{
       opacity: 1;
    }
}





#h1-line{
    width: 41%;
    height: 0.06rem;
    background:#CD1818;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0.5;
    animation: line-move 3s forwards ease-in;
    box-shadow: rgba(0, 0, 0) 0px 3px 8px;
}

@keyframes line-move {
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        opacity: 1;
       width: 41%;
    }
}









#projects{
 display: flex;
 justify-content: center;
 position: relative;
 top: 47vh;
 padding: 5rem 0;
}

.project-div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  margin: 2rem 0;
}

.project{

    background-color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.p-d-move{
    animation: Pd-move 1s ease-in forwards;
}

@keyframes Pd-move {
    0%{
        /* opacity: 0.5; */
        top: 7rem;
       
    }
   
    100%{
        
         /* opacity: 1; */
         top: 0rem;
    }
    
}




.project-discription{
    width: 15rem;
    height: 19rem;
   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-discription img{
    width: 100%;
    height: 9rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}

.project-heading{
    width: 100%;
    font-size: 1.56rem;
    font-weight: 500;
    letter-spacing: 0.4ch;
    height: fit-content;
    margin: 1rem 0 0.5 0;
    color: #CD1818;
}
.project-details{
    color: white;
    width: 100%;
    font-size: 1.18rem;
    
    letter-spacing: 0.3ch;
    height: fit-content;
   
}

.project-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CD1818;
}

.git-project{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(github-mark.png);
    background-size: cover;
    color: #CD1818;
}


.live-demo{
    font-size: 1.15rem;
    color: #CD1818;
    letter-spacing: 0.3ch;

}

































/* ---------------------------------------------------------------------------------------------------- */



/* -------------------------------------------about------------------------------------------- */
#about{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#about-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}


#about-div button{
    white-space: nowrap;
    background: transparent;
    display: flex;
    justify-content: center;
   margin: 0.6rem;
   width: 15%;
   height: 5vh;
   font-size: 1.56rem;
   border: none;
   letter-spacing: 0.4ch;
   cursor: pointer;
   transition: color 0.5s ease-out;
   color: white;
   opacity: 0.8;
   position: relative;
}

#about-div button:hover{
    color: #CD1818;
}


/* ---------------------up------------------- */

.b1-up-move{
   animation: bup1 0.5s ease forwards;
}
 
@keyframes  bup1{
    0%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}
.b2-up-move{
   animation: bup2 1s ease forwards;
}
 
@keyframes  bup2{
    0%{
        opacity: 0; 
        
    }
    50%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}
.b3-up-move{
   animation: bup3 1.5s ease forwards;
}
 
@keyframes  bup3{
    0%{
        opacity: 0; 
        top: 2rem;
    }
    66%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}


.b4-up-move{
   animation: bup4 2s ease forwards;
}
 
@keyframes  bup4{
    0%{
        opacity: 0; 
        top: 2rem;
    }
    75%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}



/* --------------------click--------------------------------- */
.b1-A-move{
   animation: b1 1.5s ease forwards;
}
 
@keyframes  b1{
    0%{
        opacity: 1; 
        left: 0rem;
    }
    50%{
        opacity: 1; 
        left: 0rem;
    }
    100%{
      
        left: -5rem;
        opacity: 0; 
    }
}
  
.b2-A-move{
   animation: b2 2s ease-out forwards;
}
 
@keyframes  b2{
    0%{
        opacity: 1; 
    }
    60%{
        right: 0rem;
        opacity: 1; 
    }
    100%{
        right: -8rem;
        opacity: 0; 
    }
}
  
.b3-A-move{
    animation: b3 2.5s ease forwards;
 }
  
 @keyframes  b3{
     0%{
         opacity: 1; 
         left: 0rem;
     }
     60%{
         opacity: 1; 
         left: 0rem;
     }
     100%{
       
         left: -7rem;
         opacity: 0; 
     }
 }
  
.b4-A-move{
    animation: b4 3s ease forwards;
 }
  
 @keyframes  b4{
     0%{
         opacity: 1; 
         left: 0rem;
     }
     70%{
         opacity: 1; 
         left: 0rem;
     }
     100%{
       
         left: -5rem;
         opacity: 0; 
     }
 }

 
/* ----------------------------------------- */
#skill{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#resume{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#tech{
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#git-hub{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

#resume h1{
    border: none;
    display: flex;
    font-size: 1.87rem;
    color:#CD1818;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}

#tech h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 1.87rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}
#skill h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}
#git-hub h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 1.87rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}





/* -------------------------------------------------------blog page------------------------------------------ */

#blog{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}
#blogs-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blogs-div h1{
    width: 20%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    white-space: nowrap;
    letter-spacing: 00.5ch;
    color: white;
}




/* ---------------------------------------------------------------------------------------------------------- */








.icon{
    background: transparent;
    z-index: 20;
    /* background: transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: fixed;
    top: 24rem;
    left: 1.5rem;
    
}


.icon a{
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1.5rem;
    height: 1.5rem;
    /* background: rgb(8, 237, 218); */
    cursor: default;
}

#myLogo{
  background-image: url(myLogo1.png);
  background-size: cover;
  transform: rotate(-90deg);
  
}
#git-logo{

    background-image: url(github-mark.png);
    background-size: cover;
    transform: rotate(-90deg);

}
#linked-in{
    background-image: url(linkedin.png);
    background-size: cover;
    transform: rotate(-90deg);
}

#youtube{
    background-image: url(/icons/youtube-symbol.png);
    background-size: cover;
    transform: rotate(-90deg);
    opacity: 0.5;
}



#stick {
    
    height: 5rem ;
    width: 0.12rem ;
    background: rgb(255, 255, 255) ;
    opacity: 0.5;
    animation: r-stick 3s forwards;
}


@keyframes r-stick {
    0%{
        height: 0rem;
        opacity: 0;
    }
    45%{
        height: 20rem;
        opacity: 1;
    }
    95%{
        height: 0rem;
        opacity: 1;
    }
    100%{
        opacity: 0.5;
        height: 4.5rem;
    }
}







#stick-right {
    height: 0rem;
    width: 0.12rem ;
    background: whitesmoke;
    animation: l-stick 3s forwards;
}

@keyframes l-stick {
    0%{
        height: 0rem;
        opacity: 0;
    }
    45%{
        height: 20rem;
        opacity: 1;
    }
    95%{
        height: 0rem;
        opacity: 1;
    }
    100%{
        opacity: 0.5;
        height: 20rem;
    }
}





#left{
   
    width: 5rem;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c9ea1;
    display: flex;
    justify-content: center;

}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0c9ea1;
    

}

#leftUp{
    opacity: 0.5;
    width: 5rem;
    height: 16vh;
    font-size: 6.25rem;
    z-index: 7;
    position: fixed;
    top: -0.6rem;
    left: 0;
    color: white;
    background-color: transparent;
}

#rightUp{
    opacity: 0.5;
    font-size: 06.25rem;
    width: 5rem;
    height: 16vh;
    z-index: 7;
    position: fixed;
    top: -0.6rem;
    right: 0;
    background-color: transparent;
    color: white;
} 























  }
  



/* --------------------------------------------------------------------- */
  

@media only screen and (min-width: 1024px) {

#menu-btn{
   
    display: none;
    
}
#nav-menu-page {
    display: none;
}


 *{
    padding: 0;
    margin: 0;
    background: transparent;
    font-family: 'Ubuntu Mono', monospace;
    /* font-family: "Cutive Mono", monospace; */
    /* font-family: 'VT323', monospace; */
      /* letter-spacing: 0.1ch; */
   text-decoration: none;
 }
body{
    width: 100%;
    height: 100vh;
    background: #116D6E;

}



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding-left: 5rem ;
    padding-right: 5rem ;
    /* background: rgb(29, 236, 94); */
}
#main-logo{
    color: white;
    font-size: 1.56rem;
    letter-spacing: 0.6ch;
    top: 2rem;
    width: fit-content;
    height: fit-content;
    left: 5.5rem;
    animation: m-b-i 2s ease-in-out forwards;
}


#main-logo span:nth-child(6){
    width: 11rem;
    font-size: 0.99rem;
    display: inline-block;
    letter-spacing: 0.3ch; 
    position: fixed;
    
}





.details{
opacity: 0.8;
display: flex;
justify-content: space-around;
font-size: 1.25rem;
width: 30rem;
font-family: 'VT323', monospace;
position: fixed;
left: 25rem;
color: white;
}
.details a{
    letter-spacing: 0.5ch;
    color: white; 
}

#contact{
color: white;
position: fixed;
right: 20rem;
font-size: 1.25rem;
animation: move-contact 3s forwards ease-out;

}
@keyframes move-contact{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    89%{
        opacity: 0.5;
        right: 15rem;
    }
    
    100%{
        opacity: 1;
        right: 6rem;
    }
}


main{
    
    /* opacity: 0; */
    width: 100%;
    height: 100vh;
    /* background: yellow; */
}








header {
    z-index: 5;
    width: 100%;
    height: 5rem;
    background: #CD1818;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.content{
    display: none;
}




/* ---------------------------------------------------home page---------------------------------------- */
#home {
    display: block;
 max-width: 100%;
  height: 100vh;
}

body{
    min-width: 100%;
}

#a{
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    /* background: red; */
     width: 100%;  
    height: 100vh;
    color: white;
    letter-spacing: 0.3ch;
    
}
#A {
    flex-wrap: wrap;
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* animation: move 3s ease-in-out forwards; */
}

.move-animation{
    animation: move 2.5s ease-in-out forwards;
}
@keyframes move{
0%{
    top: 9.37rem;
    opacity: 0px;
}
70%{
    top: 80px;
    opacity: 1;
}
80%{
    top: 5rem;
    opacity: 1;
}
100%{
   top: 0.625rem;
   opacity: 1;
}

}




#a div div:nth-child(1){
    font-size: 1.87rem;
    letter-spacing: 0.2ch;
    color: #CD1818;
}
#a div div:nth-child(2){
    font-size: 4rem;
    flex-wrap: wrap;
}
#a div div:nth-child(3){
    letter-spacing: 0.2ch;
    font-size: 1.85rem;
    display: flex;
    color: #CD1818;
}


#A2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    animation: reveal 10s forwards in;
    width: 0%;
    overflow: hidden;
   
   white-space: nowrap;

}
.text-reveal-A2{
    animation: reveal 1.8s forwards ease-out;
}
@keyframes reveal {
    0%{
        width:0%;
    }
    40%{
        width:0%;
    }

    85%{
        width:15%;
    }
    90%{
        width:15%;
    }
   
    100%{
        width: 100%;
    }

}
















#A3-h{
    width: 0ch;
    letter-spacing: 0.2ch;
    font-size: 1.85rem;
    overflow: hidden;
   white-space: nowrap;
}

.typewriter-A3{
    animation: typewriter 10s steps(35) infinite;
    
}
@keyframes typewriter{
    0%{
       
       width: 0ch;
    }
   
    80%{
         width: 40ch;
    }
   100% {
          width: 0ch;
    }
 
    
}
















#b{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(41, 207, 124); */
    width: 100%;  
    height: 100vh;
    z-index: 1;
    color: white;
    font-size: 6.25rem;
}
#c{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#d{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#e{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: rgb(41, 77, 207); */
   width: 100%;  
   height: 100vh;
   z-index: 1;
   color: white;
}
#E{
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10rem;
    
}



#E1{
    height: fit-content;
    width: fit-content;
    font-size: 1.56rem;
    letter-spacing: 0.3ch;
    position: relative;
}
.E1-move{
    animation: e1-move 1s ease-in-out forwards;
}
@keyframes e1-move {
    0%{
        opacity: 0;
      top: 3rem; 
    }
    100%{
        opacity: 1;
        top: 2rem;   
    }
}

#E2{
    letter-spacing: 0.3ch;
    height: fit-content;
    width: fit-content;
    font-size: 3.4rem;
    white-space: nowrap;
    margin: 3rem 0rem 1rem 0rem ;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
   display: flex;
   align-items: center;
   gap: 1ch;
}
.E2-move{
    animation: e2-move 1.5s  forwards;
}
@keyframes e2-move {
    0%{
        opacity: 0;
        left: -20rem;
    }
    100%{
        opacity: 1;
      left: 0rem;
    }
    
}


#E2 span{
    color: #CD1818;
    display: inline-flex;
    font-size: 3.43rem;
    white-space: nowrap;
    overflow: hidden;
    display: none;
}

#typed-text{
    
    font-size: 3.43rem;
    white-space: nowrap;
    overflow: hidden;
}


.type1 {
    display: inline-flex !important;
    animation: typing 5s steps(8) forwards ;
  }
  
  @keyframes typing{
    0%{
       width: 0ch;
    }

    40%{
         width: 10ch;
    }
    80%{
         width: 10ch;
    }
   100% {
          width: 0ch;
    }
    
}
 #cursor{
    color: #CD1818;
    display: inline-flex !important;
 }
.blink{
    animation: blink1 1s infinite;
}

 @keyframes blink1 {
   50%{
    color: transparent;
   }

 }
#E3{
    letter-spacing: 0.3ch;
    height: fit-content;
    width: 55rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    margin: -1rem;
    padding: 0;
    position: relative
}


.E3-move{
    animation: e3-move 1s ease-in-out forwards;
}
@keyframes e3-move {
    0%{
        opacity: 0;
         top: 1rem;
    }
    100%{
        opacity: 1;
        top: 0rem;
    }
}





#E4{
    letter-spacing: 0.3ch;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

}
#E4 button{
    font-size: 1.2rem;
    outline: none;
    margin-top: 3.5rem;
    cursor: pointer;
    padding: 1rem;
    letter-spacing: 0.3ch;
    width: 15rem;
    position: relative;
}
#EB1{
    cursor: pointer;
    color: #0c9ea1;
    background-color:#CD1818;
    
    border: 0.06rem solid #CD1818;
}
.EB1-move{
    animation: eb1-move 3s forwards;
}
@keyframes eb1-move {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        left: 18rem;
    }
    100%{
        opacity: 1;
       left: 0rem;
    }
}

.EB2-move{
    animation: eb2-move 3s forwards;
}
@keyframes eb2-move {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
        right: 18rem;
    }
    100%{
        opacity: 1;
        right:0rem;
    }
}


#EB2{
    cursor: pointer;
    color: #CD1818;
    background-color: transparent;
    
    border: 0.06rem solid #CD1818;
}


footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgb(207, 168, 41); */
    width: 100%;  
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 2;
    transition: opacity 0.5;
}

footer a{
    font-size: 1px;
    color: #000;
}





.f-Show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
.f-notShow {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}





.back{
    /* background: rgb(199, 24, 24); */
    position: fixed;
    z-index: 1;
   
}
.back div{
    font-size: 2.5rem;
    color: aliceblue;
    opacity: 0;
    /* background: black; */
    width: 15rem;
    height: 2rem;
}


#D1{
    position: fixed;
    top: 24.3rem;
    left: 16rem;
    color: white;
}
#D2{
    position: fixed;
    left: 26.8rem;
    bottom: 16.875rem;
    color: white;
}
#D3{
    position: fixed;
    right: 21.2rem;
    top: 24.37rem;
    color: white;
}
#D4{
    position: fixed;
    bottom: 6.25rem;
    right: 3.75rem;
    color: white;
}


.Show-2 {
    opacity: 0.3;
    display: block;
    transition: opacity 0.5s ease-in-out;
}
.back div.show {
   
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }

.back div.notShow{
    
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


#background {
    
    /* opacity: 0;
    font-size: 300px; */
    width: 100%;
    height: 100vh;
    color: #000;
    z-index: -999;
    position: fixed;
}


#bg1{
    
    font-size: 12.5rem; 
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg2{
    width: 100%;
    height: 100vh;
    color: rgb(255, 255, 255);
    position: fixed;
}

#bg2 span:nth-child(1){
   
    font-size: 300px;
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 4rem;
   left: 4rem;
}

#bg2 span:nth-child(2){

    font-size: 18.75rem;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: -1rem;
   right: -2rem;
}

#bg3{
    
    width: 100%;
    height: 100vh;
    font-size: 8.12rem;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 12rem;
    left: 6rem;
}

 


.Show {
    opacity: 0.09;
    display: block;
    transition: opacity 0.5s ease-in-out;
}
.notShow {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none;
}



/* ----------------------------- work PAGE---------------- -----------------------------------------*/

#work {
   background: transparent;
   width: 100%;
   height: fit-content;
   /* display: flex; */
   flex-direction: column;
   align-items: center;
}

#work h1{
    font-size: 3.15rem;
    background: transparent ;
    color: #CD1818;
    z-index: 1;
    top: 45vh;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    letter-spacing: 0.4ch;
    animation: h-move 2s forwards ease-in;
    position: relative;
}


@keyframes h-move {
    0%{
        opacity: 0;
    
    }
    100%{
       opacity: 1;
    }
}





#h1-line{
    width: 41%;
    height: 0.06rem;
    background:#CD1818;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 0.5;
    animation: line-move 3s forwards ease-in;
    box-shadow: rgba(0, 0, 0) 0px 3px 8px;
}

@keyframes line-move {
    0%{
        width: 0%;
        opacity: 0;
    }
    100%{
        opacity: 1;
       width: 41%;
    }
}









#projects{
 display: flex;
 justify-content: center;
 position: relative;
 top: 47vh;
 padding: 5rem 0;
}

.project-div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: fit-content;
  height: fit-content;
  margin: 2rem 0;
}

.project{

    background-color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}
.p-d-move{
    animation: Pd-move 1s ease-in forwards;
}

@keyframes Pd-move {
    0%{
        /* opacity: 0.5; */
        top: 7rem;
       
    }
   
    100%{
        
         /* opacity: 1; */
         top: 0rem;
    }
    
}




.project-discription{
    width: 15rem;
    height: 19rem;
   
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-discription img{
    width: 100%;
    height: 9rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
}

.project-heading{
    width: 100%;
    font-size: 1.56rem;
    font-weight: 500;
    letter-spacing: 0.4ch;
    height: fit-content;
    margin: 1rem 0 0.5 0;
    color: #CD1818;
}
.project-details{
    color: white;
    width: 100%;
    font-size: 1.18rem;
    
    letter-spacing: 0.3ch;
    height: fit-content;
   
}

.project-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CD1818;
}

.git-project{
    width: 1.4rem;
    height: 1.4rem;
    background-image: url(github-mark.png);
    background-size: cover;
    color: #CD1818;
}


.live-demo{
    font-size: 1.15rem;
    color: #CD1818;
    letter-spacing: 0.3ch;

}

































/* ---------------------------------------------------------------------------------------------------- */



/* -------------------------------------------about------------------------------------------- */
#about{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#about-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
}


#about-div button{
    white-space: nowrap;
    background: transparent;
    display: flex;
    justify-content: center;
   margin: 0.6rem;
   width: 15%;
   height: 5vh;
   font-size: 1.56rem;
   border: none;
   letter-spacing: 0.4ch;
   cursor: pointer;
   transition: color 0.5s ease-out;
   color: white;
   opacity: 0.8;
   position: relative;
}

#about-div button:hover{
    color: #CD1818;
}


/* ---------------------up------------------- */

.b1-up-move{
   animation: bup1 0.5s ease forwards;
}
 
@keyframes  bup1{
    0%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}
.b2-up-move{
   animation: bup2 1s ease forwards;
}
 
@keyframes  bup2{
    0%{
        opacity: 0; 
        
    }
    50%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}
.b3-up-move{
   animation: bup3 1.5s ease forwards;
}
 
@keyframes  bup3{
    0%{
        opacity: 0; 
        top: 2rem;
    }
    66%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}


.b4-up-move{
   animation: bup4 2s ease forwards;
}
 
@keyframes  bup4{
    0%{
        opacity: 0; 
        top: 2rem;
    }
    75%{
        opacity: 0; 
        top: 2rem;
    }
   
    100%{
      
        top: 0rem;
        opacity: 1; 
    }
}



/* --------------------click--------------------------------- */
.b1-A-move{
   animation: b1 1.5s ease forwards;
}
 
@keyframes  b1{
    0%{
        opacity: 1; 
        left: 0rem;
    }
    50%{
        opacity: 1; 
        left: 0rem;
    }
    100%{
      
        left: -5rem;
        opacity: 0; 
    }
}
  
.b2-A-move{
   animation: b2 2s ease-out forwards;
}
 
@keyframes  b2{
    0%{
        opacity: 1; 
    }
    60%{
        right: 0rem;
        opacity: 1; 
    }
    100%{
        right: -8rem;
        opacity: 0; 
    }
}
  
.b3-A-move{
    animation: b3 2.5s ease forwards;
 }
  
 @keyframes  b3{
     0%{
         opacity: 1; 
         left: 0rem;
     }
     60%{
         opacity: 1; 
         left: 0rem;
     }
     100%{
       
         left: -7rem;
         opacity: 0; 
     }
 }
  
.b4-A-move{
    animation: b4 3s ease forwards;
 }
  
 @keyframes  b4{
     0%{
         opacity: 1; 
         left: 0rem;
     }
     70%{
         opacity: 1; 
         left: 0rem;
     }
     100%{
       
         left: -5rem;
         opacity: 0; 
     }
 }

 
/* ----------------------------------------- */
#skill{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


#resume{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#tech{
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#git-hub{
    flex-direction: column;
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}

#resume h1{
    border: none;
    display: flex;
    font-size: 1.87rem;
    color:#CD1818;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}

#tech h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 1.87rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}
#skill h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}
#git-hub h1{
    border: none;
    color:#CD1818;
    display: flex;
    font-size: 1.87rem;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.4ch;
}





/* -------------------------------------------------------blog page------------------------------------------ */

#blog{
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}
#blogs-div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#blogs-div h1{
    width: 20%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    white-space: nowrap;
    letter-spacing: 00.5ch;
    color: white;
}




/* ---------------------------------------------------------------------------------------------------------- */








.icon{
    background: transparent;
    z-index: 20;
    /* background: transparent; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: fixed;
    top: 24rem;
    left: 1.5rem;
    
}


.icon a{
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 1.5rem;
    height: 1.5rem;
    /* background: rgb(8, 237, 218); */
    cursor: default;
}

#myLogo{
  background-image: url(myLogo1.png);
  background-size: cover;
  transform: rotate(-90deg);
  
}
#git-logo{

    background-image: url(github-mark.png);
    background-size: cover;
    transform: rotate(-90deg);

}
#linked-in{
    background-image: url(linkedin.png);
    background-size: cover;
    transform: rotate(-90deg);
}

#youtube{
    background-image: url(/icons/youtube-symbol.png);
    background-size: cover;
    transform: rotate(-90deg);
    opacity: 0.5;
}



#stick {
    
    height: 5rem ;
    width: 0.12rem ;
    background: rgb(255, 255, 255) ;
    opacity: 0.5;
    animation: r-stick 3s forwards;
}


@keyframes r-stick {
    0%{
        height: 0rem;
        opacity: 0;
    }
    45%{
        height: 20rem;
        opacity: 1;
    }
    95%{
        height: 0rem;
        opacity: 1;
    }
    100%{
        opacity: 0.5;
        height: 4.5rem;
    }
}







#stick-right {
    height: 0rem;
    width: 0.12rem ;
    background: whitesmoke;
    animation: l-stick 3s forwards;
}

@keyframes l-stick {
    0%{
        height: 0rem;
        opacity: 0;
    }
    45%{
        height: 20rem;
        opacity: 1;
    }
    95%{
        height: 0rem;
        opacity: 1;
    }
    100%{
        opacity: 0.5;
        height: 20rem;
    }
}





#left{
   
    width: 4rem;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c9ea1;
    display: flex;
    justify-content: center;
     opacity: 0.2;
    }
    #right{
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0c9ea1;
    

}

#leftUp{
    opacity: 0;
    width: 5rem;
    height: 16vh;
    font-size: 6.25rem;
    z-index: 7;
    position: fixed;
    top: -0.6rem;
    left: 0;
    color: white;
    background-color: transparent;
}

#rightUp{
    opacity: 0;
    font-size: 06.25rem;
    width: 5rem;
    height: 16vh;
    z-index: 7;
    position: fixed;
    top: -0.6rem;
    right: 0;
    background-color: transparent;
    color: white;
} 


}